<h1>About this App</h1>
<p>Welcome to "Insert Site Name!" My name is Jordan Taylor, and I started this website after I kept hearing people express the need for an easier way to buy and sell clothes and items from their friends.</p>
