<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Friend Fashion</h1>

  <h2>
    Fast, easy fun!
  </h2>


  <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>